#gridcontainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main main'
    'left main main'
    ;
}
#item1{
    grid-area: header;
    width: 100% ;
    background-color:rgb(233, 155, 181);
    height: 33vh;
}
#item2 {
    grid-area: left;
    width: 100%;
    background-color: pink;
    height: 66vh;
}


#item3{
    grid-area: main;
    width: 100%;
    background-color: palevioletred;
    height: 66vh;
}

@media only screen and (max-width : 600px){
  body{
   background-color:blue;
  }
  #gridcontainer{
      display: grid;
    grid-template-areas:
   'header'
   'left'
   'main';  
  }  
  #item1{
    grid-area: header;
    width: 100%;
    background-color:blueviolet;
    height: 66vh;     
}
}